#----------------------------------------------------------------
# Игнорируем все бинарники и всё содержимое .vs папки
#----------------------------------------------------------------

.vs/
/CSH_Monitor.GraphicsCore/bin/
/CSH_Monitor.GraphicsCore/obj/
/CSH_Monitor.Core/bin/
/CSH_Monitor.Core/obj/
/CSH_Monitor.Model/bin/
/CSH_Monitor.Model/obj/
/CSH_Monitor.UI/bin/
/CSH_Monitor.UI/obj/
/CSH_Monitor.Infrastructure/bin
/CSH_Monitor.Infrastructure/obj
*.exe
*.dll

#----------------------------------------------------------------
# Игнорируем все медиафайлы кроме .png, .jpg, .jpeg и .ico
#----------------------------------------------------------------

*.gif
*.bmp
*.tiff
*.mp3
*.mp4
*.mov
*.avi
*.webm