.vs/
/CSH_Monitor.GraphicsCore/bin/
/CSH_Monitor.GraphicsCore/obj/
/CSH_Monitor.Core/bin/
/CSH_Monitor.Core/obj/
/CSH_Monitor.Model/bin/
/CSH_Monitor.Model/obj/
/CSH_Monitor.UI/bin/
/CSH_Monitor.UI/obj/
